<!--   Core JS Files   -->
<script src="{{ url_for('static', filename='js/core/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/core/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/core/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/perfect-scrollbar.jquery.min.js') }}"></script>
<!--  Google Maps Plugin    -->
<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="{{ url_for('static', filename='js/plugins/chartjs.min.js') }}"></script>
<!--  Notifications Plugin    -->
<script src="{{ url_for('static', filename='js/plugins/bootstrap-notify.js') }}"></script>
<!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{{ url_for('static', filename='js/black-dashboard.min.js') }}?v=1.0.0"></script>
<!-- Black Dashboard DEMO methods, don't include it in your project! -->
<script src="{{ url_for('static', filename='demo/demo.js') }}"></script>
<script src="{{ url_for('static', filename='js/themeSettings.js') }}"></script>
{# datatable #}
    <script>
        new DataTable('#example');
    </script>