
    <div class="sidebar">
            <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    FS
                </a>
                <a href="javascript:void(0)" class="simple-text logo-normal">
                    Forecasting SMA
                </a>
            </div>
            <ul class="nav">
                <li class="{% if 'dashboard' in segment %} active {% endif %} ">
                    <a href="/">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <h4>Dashboard</h4>
                    </a>
                </li>
                <li class="{% if 'train' in segment %} active {% endif %}">
                    <a href="/train">
                        <i class="tim-icons icon-notes"></i>
                        <h4>Data Train</h4>
                    </a>
                </li>
                <li class="{% if 'test' in segment %} active {% endif %}">
                    <a href="/test">
                        <i class="tim-icons icon-paper"></i>
                        <h4>Data Test</h4>
                    </a>
                </li>
                <li class="{% if 'result' in segment %} active {% endif %}">
                    <a href="/result">
                        <i class="tim-icons icon-chart-bar-32"></i>
                        <h4>Result</h4>
                    </a>
                </li>
                <li class="{% if 'about' in segment %} active {% endif %}">
                    <a href="/about">
                        <i class="tim-icons icon-alert-circle-exc"></i>
                        <h4>About</h4>
                    </a>
                </li>
{#                <li class="{% if 'notifications' in segment %} active {% endif %}">#}
{#                    <a href="/notifications.html">#}
{#                        <i class="tim-icons icon-bell-55"></i>#}
{#                        <p>Notifications</p>#}
{#                    </a>#}
{#                </li> #}
{#                <li class="{% if 'tables' in segment %} active {% endif %}">#}
{#                    <a href="/tablesTrain.html">#}
{#                        <i class="tim-icons icon-puzzle-10"></i>#}
{#                        <p>Table List</p>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="{% if 'typography' in segment %} active {% endif %}">#}
{#                    <a href="/typography.html">#}
{#                        <i class="tim-icons icon-align-center"></i>#}
{#                        <p>Typography</p>#}
{#                    </a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="/rtl.html">#}
{#                        <i class="tim-icons icon-world"></i>#}
{#                        <p>RTL Support</p>#}
{#                    </a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="{{ url_for('authentication_blueprint.logout') }}">#}
{#                        <i class="tim-icons icon-button-power"></i>#}
{#                        <p>Logout</p>#}
{#                    </a>#}
{#                </li>#}
            </ul>
        </div>
    </div>
